[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.pidb
*.user
*.userprefs
*.idea/
*.svd
*.pdb
*.opendb
*.VC.db
*.unitypackage

# Plastic SCM 관련 파일 무시
plastic/
.plastic